@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

/* NAVBAR */
#navbar {
    font-family: Roboto, sans-serif;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    transition: all 0.5s ease;
}
#nav-logo {
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bolder;
}
.sticky {
    background-color: rgba(0, 0, 0, 0.8) !important;
    padding: 8px 20px !important;
}
.nav-custom-link {
    font-weight: bold;
    color: #000000 !important;
    text-transform: uppercase;
}
.nav-custom-link:hover {
    color: #FFFFFF !important;
    background-color: #000000;
}
.nav-btn-icon {
    color: #FFFFFF;
}

/* MAIN */
.main {
    font-family: 'Roboto Slab', serif;
    background-color: #FFFFFF;
    font-size: 16px;
}


/* SECTION NO 1 */
.section-1 {
    flex-direction: column;
    background-image: url(../images/DSC_0359.jpg);
    height: 450px;
    padding: 0px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.section-1-inner-col {
    position: relative;
}
.image-frame {
    width: 380px;
    height: 380px;
    background-image: url(../images/Perfil.jpg);
    background-position: center;
    background-size: cover;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

/* SECTION NO 2 */
.section-2 {
    margin: 20px 0 0 0;
    padding: 100px 0px 50px 0px;
    font-family: 'Roboto Slab', serif;
}
.encabezado {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.2;
}
.encabezado-bold {
    display: block;
}
.paragraph {
    width: 80%;
    font-size: 18px;
}

/* División */
.bold-line {
    border-bottom: 6px solid #454545;
    width: 60%;
    margin: 30px auto 30px auto;
}

/* SECTION NO 3 */
.section-3 {
    padding-bottom: 30px;
    background-image: url(../images/DSC_0359.jpg);
    height: 100px;
}

.título-portafolio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 6px;
    color: #333;
    width: 100%;
}
/* SECTION NO 4 */

.galería-desafíos-row {
    padding: 30px;
}
/* GALERÍA DESAFÍOS */

.portafolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 60px;
}

.portafolio .grid {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
}
.portafolio .grid:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
    transition: all 0.1s ease-in-out;
}
.portafolio .grid img {
    width: 100%;
    border-radius: 5px;
}
.portafolio .grid__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.portafolio .subtitulo {
    background-color: rgba(82, 79, 103, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.portafolio .grid__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding:40px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.portafolio .grid__tag {
    background-color: rgba(44, 35, 116, 0.8);
    color:azure;
    font-size: 30px;
    border-radius: 5px;
    padding:10px;
    margin-bottom: 5px;
}

/* CONTACTO*/

.section-contacto {
    flex-direction: column;
    background-image: url(../images/Fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.contact-heading {
    font-size: 62px;
    font-weight: bold;
}
.contact-para {
    font-size: 18px;
    letter-spacing: 4px;
    margin-top: 10px;
}
.card-row-1,
.card-row-2,.card-row-3 {
    padding: 20px;
}
.custom-card {
    padding: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.card-body {
    padding: 0;
    margin: 0;;
}
.card-circle {
    width: 100px;
    height: 100px;
    background-color: #131417;
    border-radius: 50%;
    margin: 10px auto;
    position: relative;
}

.card-circle-icon {
    font-size: 34px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-heading {
    font-weight: bold;
    font-size: 20px;
}

.card-para {
    color: #666666;
    margin: 15px auto 0px auto;
}

.card-link {
    text-decoration: none;
}

/* FOOTER */

.footer {
    margin-top: 20px;
    padding: 50px;
    background-color: #000000;
    font-size: 100%;
}
.footer-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    letter-spacing: 6px;
    color:whitesmoke;
}




